<div>
    <h1>Best Quotes</h1>
    <h2>Quotes You Should Know</h2>
    <h3>Why Sayings and Quotes</h3>
    <p>Below you will find our collection of inspirational, wise, and humorous old 
      why quotes and why sayings,  collected over the years from a 
      variety of sources.</p>
  </div>
  
  <!--nav class='navbar navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <button type="button" class="btn addQuoteBtn" (click)="openFormModal()"><i class="fa fa-fw fa-plus"></i> Add Quote</button>
  </nav>
  <div class="container">
    <ql-quotes [quotes]='quotes'></ql-quotes>
  </div-->

<app-quotes></app-quotes>