<div class="container-fluid">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer">

  <div id="liked">
    <div class="author">
      <p>Author: {{ quotes.author }}</p>
      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-sm like" id="success" (click)='upCounter()'>{{quotes.upvotes}} <i
              class="fa fa-thumbs-up" id="like"></i></button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-sm hate" id="hate" (click)='downCounter()'>{{quotes.downvotes}} <i
              class="fa fa-thumbs-down" id="dislike"></i></button>
        </div>
      </div>
    </div>


    <div class="">
      <p> {{quotes.date|timeAgo}} </p>
      <p> {{quotes.date|date:"short"}} </p>
      <p>~Submitted by {{ quotes.createdBy }}</p>
      <p></p>
    </div>
    
  </div>
</div>
<button class="delbut" (click)="deleteQuote(true)">Delete Quote </button>

