.delbut {
    background-color:#f61d00;
   color: white;
   height: 50px;
   width: 120px;
   font-weight: bold;
   border-radius:20px 20px 0px 20px;
   margin-bottom: 3em;
  }
  @media screen and (max-width: 767px){
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  }
  .author {
      display: flex;
      gap: 10em;
      line-height: normal;
  }

  * {
      font-stretch: semi-expanded;
      /*flex-wrap: content '\f30b';*/
      line-height: 2em;
  }

  .vote {
    margin-left: 1em;
    user-select: none;
  }
  
  .vote:hover {
    cursor: pointer;
  }
  img {
      height: 3em;
      width: 3em;
  }