label {
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.4;
}
* {
    font-size: large;
    font-style:oblique;
    align-content: center;
    align-items: center;
    margin-right: 5em;
}
.form-group{
    margin-right: 5em;
}

    
